<div class="filter">
<input 
    type="text"
    placeholder="Find.."
    [(ngModel)]="search"
>
</div>

<ul *ngIf="todosService.todos.length; else noTodos">
    <li *ngFor ="let todo of todosService.todos | filter: search; let i = index">
        
        <input type="checkbox" [checked]="todo.completed">
        <strong>{{ i + 1 }}</strong> {{ todo.title }}
        <small>{{todo.date | date:'medium'}}</small>
            
        <input type="text"
            placeholder="Update.."
            [(ngModel)]="updateField"
            (keydown.enter)="updateTodo(todo.id, updateField)"
        >     
                 
        <button (click)="updateTodo(todo.id,updateField)">Update</button>
        <button (click)="deleteTodo(todo.id)">Delete</button>        
    </li>
</ul>>

<ng-template #noTodos>
    <p style="text-align: center;">You haven't any products! :-(</p>
</ng-template>